#wrapper { 
 width: 1400px;
 margin-left: auto;           
 margin-right: auto;
}
section h1, nav a, footer
{
	text-align: center;
}
#logo 
{
	height: 220px;
	float: right;
	text-align: center;
	margin: 0 auto;
	background-color: rgb(237,237,237);
	padding: 5px;
	border: 2px solid #bbb;
}

#titre_principal 
{
	height: 220px;
	text-align: center;
	margin: 0 auto;
	background-color: rgb(237,237,237);
	padding: 10px;
	border: 2px solid #bbb;
}
header h1
{
	
	max-height: 200px;
    text-align: left;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
    padding-bottom: 20px;

  
}
#nav
{

	border: 3px solid #bbb;
	padding: 0; margin: 0;
	text-align: center;

	background-color: rgb(237,237,237);

}
#nav li
{
	padding: 20px;
	display: inline;
	list-style: none;
	border: 2px solid #bbb;
	border-radius: 40px 40px 40px 40px;
	background-color: rgb(187, 210, 225);
}

#nav a
{
	display: inline-block;
	margin: 0 30px;
	padding: 50px;
}
#nav a:hover
{
	color: red;
}
#current li
{
	
	background-color: rgb(49,212,218);
}
#nav2 li
{
	padding: 20px;
	display: inline;
	list-style: none;
	border: 2px solid #bbb;
	border-radius: 40px 40px 40px 40px;
	background-color: rgb(187, 210, 225);
}
section
{
	text-align: center;
	min-height: 300px;
	margin: 0 auto;
	background-color: rgb(237,237,237); 
	border: 2px solid #bbb;
	padding: 10px;
}
footer
{
	height: 40px;
	margin: 0 auto;
	background-color: rgb(237,237,237); 
	border: 2px solid #bbb;
	padding: 10px;
}
